@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.list-characters {
  --f-columns: 1;
  --f-gap: 24px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--f-gap));
  margin-bottom: calc(-1 * var(--f-gap));
}
.list-characters > * {
  margin-left: var(--f-gap);
  margin-bottom: var(--f-gap);
  width: calc((100% / var(--f-columns) - var(--f-gap)));
}
@media screen and (min-width: 375px) {
  .list-characters {
    --f-columns: 2;
  }
}
@media screen and (min-width: 768px) {
  .list-characters {
    --f-columns: 3;
  }
}
@media screen and (min-width: 1024px) {
  .list-characters {
    --f-columns: 5;
  }
}

.sm-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.sm-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.sm-scrollbar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 100rem;
}
